* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content:center;
  background: linear-gradient(#cdd6e7, #c1c9d6);
  padding: 15px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.navbar .link {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  font-size: 100%;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: 1px solid;
}

.navbar .link:hover {
  color: rgb(247, 247, 247);
}

.navbar .logo-img {
  margin-left: 50px;
  filter: invert(100%);
}

.navbar img:hover {
  filter: invert(100%);
}

.info-card {
  display: flex;
  justify-content: start;
  margin-left: 30%;
  margin-right: 30%;
}

.info-card img {
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.info-card-text {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 15px;
}

.info-card-text p {
  margin-top: 10px;
  line-height: 1.5;
  text-align: justify;
}

.info-card-text h1 {
  font-size: 200%;
}

.info-card-text h3 {
  margin-top: 25px;
}

.info-card-text a {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.info-card-text a:hover {
  color: #c1c9d6;
}
